@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Under construction.</p>
    <p>Check out <a href="https://ixion.dev" target="_blank">Ixion</a>!</p>
</div>
