@model LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<h1 class="text-center">Log In</h1>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="text-danger">@ViewData["ErrorMessage"]</div>
}

<form asp-action="Login" method="post">
    <table class="m-auto">
        <tr class="form-group row mb-2">
            <td class="col-sm-5 col-form-label">Username</td>
            <td class="col-sm-7">
                <input asp-for="Username" class="form-control" id="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </td>
        </tr>
        <tr class="form-group row mb-2">
            <td class="col-sm-5 col-form-label">Password</td>
            <td class="col-sm-7">
                <input asp-for="Password" class="form-control" id="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        </tr>
        <tr class="form-group row mb-2 justify-content-center">
            <td class="col-sm-12 d-flex justify-content-center">
                <div class="form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label class="form-check-label ms-2" asp-for="RememberMe">Remember Me</label>
                </div>
            </td>
        </tr>
        <tr class="form-group row justify-content-center">
            <td class="col-sm-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Log In</button>
                <a asp-controller="Account" asp-action="Register" class="btn btn-secondary ms-2">Register</a>
            </td>
        </tr>
    </table>
</form>
