@model Naja.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    var recaptchaKey = DotNetEnv.Env.GetString("RECAPTCHA_SITE");
}

<h1 class="text-center">Register</h1>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="text-danger">@ViewData["ErrorMessage"]</div>
}

<form asp-action="Register" method="post">
    <table class="m-auto">
        <tr class="form-group row mb-2">
            <td class="col-sm-5 col-form-label">Username</td>
            <td class="col-sm-7">
                <input asp-for="Username" class="form-control" id="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </td>
        </tr>
        <tr class="form-group row mb-2">
            <td class="col-sm-5 col-form-label">Email</td>
            <td class="col-sm-7">
                <input asp-for="Email" class="form-control" id="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr class="form-group row mb-2">
            <td class="col-sm-5 col-form-label">Password</td>
            <td class="col-sm-7">
                <input asp-for="Password" class="form-control" id="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        </tr>
        <tr class="form-group row mb-2">
            <td class="col-sm-5 col-form-label">Confirm Password</td>
            <td class="col-sm-7">
                <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" type="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </td>
        </tr>
        <tr class="form-group row mb-2 justify-content-center">
            <td class="col-sm-12 d-flex justify-content-center">
                <div class="g-recaptcha" id="recaptcha" data-sitekey="@recaptchaKey" data-callback="onRecaptchaSuccess"
                    data-expired-callback="onRecaptchaExpired"></div>
            </td>
        </tr>
        <tr class="form-group row justify-content-center">
            <td class="col-sm-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="registerButton" disabled>Register</button>
            </td>
        </tr>
    </table>
</form>

@section Scripts {
    <script>
        function onRecaptchaSuccess() {
            document.getElementById('registerButton').disabled = false;
        }

        function onRecaptchaExpired() {
            document.getElementById('registerButton').disabled = true;
        }
    </script>
}