@model IEnumerable<Naja.Models.AuctionHouseViewModel>

@{
    ViewData["Title"] = "Auction House";
}

<h1>Auction House</h1>

<table class="table table-bordered border-secondary table-hover table-sm">
    <thead>
        <tr>
            <th class="bg-secondary bg-opacity-25">Item</th>
            <th class="bg-secondary bg-opacity-25 text-center">Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Items" asp-route-id="@group.ItemId">
                @Html.DisplayFor(g => group.Listings.First().ItemBasic.DisplaySortname)
                </a>
            @if (group.Stack == 1)
            {
                @($"x{group.Listings.First().Amount}")
            }
            </td>
            <td class="col-sm-1 text-center">
            @group.Stock
            </td>
        </tr>
        }
    </tbody>
</table>
